@using TreatShop.Models
@model Treat

<div id="create-treat-modal" class="modal obscured">
  <div class="modal-message">Create a new Treat</div>
  
  <div class="error-messages">
    @if(!ViewData.ModelState.IsValid) 
    {
      @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
    }
  </div>

  @using (Html.BeginForm("Create", "Treats"))
  {
    <div class="form-row">
      <div class="form-text-input-area">
        <span>@Html.LabelFor(model => model.Name)</span>
        <span>@Html.TextBoxFor(model => model.Name)</span>
      </div>
    </div>
    <div class="form-row">
      <h3>Flavor</h3>
      <select name="flavorId">
        <option value="" selected disabled hidden>Choose one</option>
        @foreach (var flavor in ViewBag.Flavors) {
          <option name="flavorId" value=@flavor.FlavorId>@flavor.Name</option>
        }
      </select>
    </div>
    <button class="green" type="submit">Create</button>
  }

  <div class="button-area">
    <button onclick="hideModal('create-treat')">Cancel</button>
  </div>
</div>