<header>
  <h1>Pierre's Sweet and Savory Treats</h1>
  <div class="button-area">
  @if (!User.Identity.IsAuthenticated) {
    <a href='@Url.Action("Index", "Account")'>not logged in</a>
  } else {
    <div>logged in as <span class="highlighted">@User.Identity.Name</span></div>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <button class="red" type="submit">Log out</button>
    }
  }
  </div>
</header>