@using TreatShop.ViewModels

@model LoginViewModel

<header>
  <h1>Pierre's Sweet and Savory Treats</h1>
  <div class="button-area">
  @if (!User.Identity.IsAuthenticated) {
    @await Html.PartialAsync("RegisterModal")
    @await Html.PartialAsync("LoginModal")
    <button class="green" onclick="showModal('login')">Log in</button>
    <button class="yellow" onclick="showModal('register')">Register</button>
  } else {
    <div>logged in as <span class="highlighted">@User.Identity.Name</span></div>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <button class="red" type="submit">Log out</button>
    }
  }
  </div>
</header>