:root {
  --header-height: 4rem;
}

*, * *, * * * {
	box-sizing: border-box;
}

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25rem;
	margin: 0 1rem;
	background-color: #222;
	color: #ddd;
  padding: var(--header-height) 0;
}

header, footer {
  position: absolute;
	left:0px;
	width:100%;
	background:#111;
  color: #baffb8;
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  height: var(--header-height);
  padding: 0 0.5rem 0 1rem;
  top: 0;
	justify-content: space-between;
}

header h1 {
  font-size: 1.5rem;
}

header .button-area {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem;
}

header .button-area button {
	padding: 0 !important;
	min-width: 5.75rem !important;
	height: unset !important;
	height: calc(var(--header-height) - 1.1rem) !important;
	min-height: unset !important;
	background-image: none !important;
}

header a {
	color: unset;
}

header form {
	width: unset;
}

a {
	color: rgb(158, 219, 79);
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style-type: none;
	width: 95vw;
	min-width: 20rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.5rem;
	flex-direction: row;
}

li {
	position: relative;
	background-color: #ffffff22;
	padding: 0 1rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

textarea {
  height: 4rem;
}

li {
  padding: 1rem;
  width: min-content;
  min-width: 8rem;
  justify-content: center;
}

.appointment-list {
	gap: 3rem;
	margin-top: 3rem;
}

form {
	display: flex;
	flex-direction: column;
	width: min-content;
	max-width: 100%;
	border-radius: 0.5rem;
	/* overflow: hidden; */
}

form > .form-row:first-of-type {
	border-radius: 0.5rem 0.5rem 0 0;
}
form > .form-row:last-of-type {
	border-radius: 0 0 0.5rem 0.5rem;
}

form > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
  gap: 1rem;
  width: max-content;
  background-color: #ffffff11;
	min-width: 100%;
}

form > div:nth-child(odd) {
  background-color: #ffffff22;
}

form > .form-column {
	display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
  gap: 1rem;
}
form > .form-column > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-text-input-area > span:first-of-type {
  width: max-content;
}
.form-text-input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  width: 22rem;
}

input, select, textarea {
	padding: 0.25rem 0.5rem;
	font-family: inherit;
	font-size: inherit;
  min-width: 10rem;
	border-radius: 0.325rem;
}

input[type="number"] {
	min-width: unset;
	width: 5rem;
}

button {
	font-family: inherit;
	font-size: inherit;
	padding: 1rem;
	background-color: rgb(94, 94, 94);
	color: #eee;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: color 300ms ease, scale 300ms ease, outline 200ms ease;
	margin: 2rem 0.5rem;
  border-width: 0;
}

button.green {
	background-color: green;
}

button.yellow {
	background-color: rgb(152, 152, 0);
}

button.red {
	background-color: rgb(159, 0, 0);
}

button:hover {
	outline: 0.25rem solid rgb(169, 236, 246);
	scale: 1.05;
	color: rgb(169, 236, 246);
}
button:active {
	scale: 0.9;
}

footer {
	position: fixed;
	bottom:0px;
  height: calc(var(--header-height) / 2);
  justify-content: center;
	padding:8px;
}

.floating-header {
	position: absolute;
	font-size: 1.25rem;
	font-weight: bold;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 1rem;
	translate: 0 -50%;
	background-color: rgb(55, 90, 55);
	border-radius: inherit;
	padding: 0.5rem 1rem;
	box-shadow: 1px 1px 1px black;
}

.pet-detail-card {
	display: grid;
	grid-template-rows: auto;
	background-color: rgba(132, 105, 55, 0.3);
	width: max-content;
	max-height: unset;
	padding: 1rem;
	border-radius: 0.5rem;
	gap: 0.5rem;
}

.capsule-list {
	flex-direction: row;
	flex-wrap: wrap;
	margin: 2rem 1rem;
}
.capsule-list button {
	margin: unset;
}
.capsule-list > li {
	background-color: rgba(132, 105, 55, 0.3);
	flex-direction: column;
	align-items: center;
	width: min-content;
	padding: 1rem;
	gap: 0.5rem;
}
.capsule-list > li > div {
	text-align: center;
}

.error-message {
	height: 3rem;
	color: red;
	opacity: 0;
}

.error-message.overlap {
	animation: flash-on 2000ms ease forwards;
}

span {
	position: relative;
}

.floating {
	position: absolute;
	margin-left: 0.5rem;
	bottom: 0;
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border: var(--small-border);
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(var(--header-height) * 1) 1fr min-content;
	gap: 1rem;
	padding: calc(var(--header-height) / 2);
	transition: scale 300ms ease, opacity 200ms ease;
	z-index: 1;
	border-radius: 1rem;
}

.error-messages {
	position: absolute;
}

.modal > .modal-message {
	font-size: 1.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal > .modal-message > .highlighted {
	font-size: 2rem;
	font-weight: bold;
}

.modal.obscured {
	scale: 0.95;
	opacity: 0;
	pointer-events: none;
}

.modal .button-area {
	align-items: center;
	justify-content: center;
	min-height: unset;
}

.modal#delete-modal button:not(.red) {
	padding: 1rem 3rem;
	margin: 1rem;
}

.modal#login-modal {
	background-color: rgb(70, 84, 63);
}

.modal#register-modal {
	background-color: rgb(116, 124, 74);
}

.modal#delete-modal {
	background-color: rgb(76, 64, 64);
}

.not-logged-in-message {
	margin: 1rem;
	margin-top: 2rem;
	font-style: italic;
	opacity: 0.8;
}

@keyframes flash-on {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}