@{
  Layout = "_Layout";
}

@using TreatShop.Models;

<div class="flavorIndexLayout">

  @if (User.Identity.IsAuthenticated)
  {
    <div class="button-area">
      <div class="flavor-links">
      <span>@Html.ActionLink(".Manage flavors", "Index", "Flavors")</span> 
      <span>@Html.ActionLink(".Manage treats", "Index", "Treats")</span>
      <span>@Html.ActionLink(".Create or manage an account", "Index", "Account")</span>
    </div>

  </div>
  }
  else
  {
    <h3>Treats</h3>
    <ul class="treat-list">
      <li>Treat 1</li>
      <li>Treat 2</li>
    </ul>

    <h3>Flavors</h3>
    <ul class="flavor-list">
      <li>Flavor 1</li>
      <li>Flavor 2</li>
    </ul>

    <p class="not-logged-in-message">Please <a onclick="showModal('login')">log in</a> to add or delete treats and flavors.</p>
  }
</div>
