@{
  Layout = "_Layout";
}

@using TreatShop.Models;

  <h3>Treats</h3>
  <ul class="treat-list">
    @foreach (var treat in ViewBag.Treats) {
      <li>
        <div class="bold">@treat.Name</div>
      </li>
    }
  </ul>

  <h3>Flavors</h3>
  <ul class="flavor-list">
    @foreach (var flavor in ViewBag.Flavors) {
      <li>
        <div class="bold">@flavor.Name</div>
      </li>
    }
  </ul>

  <div class="home-footer">
  @if (User.Identity.IsAuthenticated)
  {
    @await Html.PartialAsync("CreateTreatModal")
    @await Html.PartialAsync("CreateFlavorModal")
    <div class="button-area">
      <button onclick="showModal('create-treat')">Create a Treat</button>
      <button onclick="showModal('create-flavor')">Create a Flavor</button>
    </div>
  }
  else
  {
    <p class="not-logged-in-message">Please <a href='@Url.Action("Index", "Account")'>log in</a> to add or delete treats and flavors.</p>
  }
  </div>